# IBM:DSP Capstone Project

## Territory Market Development

### Introduction / Business Problem

   
A new technical sales representative for a winery products company has been assigned a new territory. She is to contact and develop sales relationships with wineries in the Pacific Northwestern United States. She seeks to establish new relationships and develop her new sales territory. However, the Pacific Northwestern United States includes both Washington State and Oregon State. The area encompasses vast areas and not all areas are viticulture areas or vineyards. How can she best expand her territory to include new clients?

### Data  

We will use an existing winery list as a substitute for an actual existing client list from data world. We can gather this list by using a web scrape, an SQL query, or pandas. Then, we'll leverage the Foursquare API to create a second list of wineries. We'll link the location with geopy and build an overlay. We'll separate regions using k-means clustering.

#### Data World Data Set

The first data set resides at <a href="https://data.world/arthur/wineries">data world</a>. I'll first create an account and attempt to download the file as an excel sheet. This was easy enough to complete. I went into the files and looked around at the data. We are examining the Pacific Northwest Territory so I had to download the file for the <a href="https://query.data.world/s/nib6nc7kfdk7vhbaypnipvdogzcqz2">USA</a>.

Now that we have downloaded the file from the website, let's look at an alternative using Pandas

In [1]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/r4ahdp3vbrclyyim5siydrszdc6rrx')
df = df.drop(['Unnamed: 3'], axis=1) # Drop the unnamed column
df = df.drop(['Web Site'], axis=1) #Drop web site, come back put in one line
df['long'] = "" # add Longitude Column
df['lat'] = "" # add Latitude Column
df.rename(columns = {'Winery Name':'Winery'}, inplace = True) #Rename
df.head()

                       Winery State long lat
0                    14 Hands    WA
1  Abacela Vineyards & Winery    OR
2          Abarbanel Wine Co.    NY
3               Abbott Winery    CA
4                       Abeja    WA

In [2]:
#To select rows which have WA or OR as the State
states = ['WA','OR']
df = df[df.State.isin(states)]
df.reset_index(drop=True) #Drop the old index

                         Winery State long lat
0                      14 Hands    WA
1    Abacela Vineyards & Winery    OR
2                         Abeja    WA
3                 Academy Wines    OR
4                Acme Wineworks    OR
..                          ...   ...  ...  ..
414    Yamhill Valley Vineyards    OR
415          Yellow Hawk Cellar    WA
416    Youngberg Hill Vineyards    OR
417               Zefina Winery    WA
418                       Zelko    OR

[419 rows x 4 columns]

In [3]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# Need to come back here and work the loop, concatenate in.
address = '14 Hands'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

-14.694524099999999 -75.11405389565218

#### The geocoder is working, let's get the loop going and concatenate into our data frame.  

There are some issues here to consider, including the client list will likely be more complete with actual addresses. This was just a winery list and some of the winery names are not registered with the geocoding services, or maybe there is more than one location. Here, we might illustrate more data wrangling techniques or perform a table scrape; but since we have an artificial client list let's move on.

In [11]:
for x in range(len(df)):
    try:
       # time.sleep(1) #should I add a delay
        geocode_result = geolocator.geocode(df.Winery[x])
        df['lat'][x] = geocode_result.latitude
        df['long'][x] = geocode_result.longitude
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occured.", e )
df.head()

Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 2
Unexpected error occured. 3
Unexpected error occured. 5
Unexpected error occured. 6
Unexpected error occured. 7
Unexpected error occured. 9
Unexpected error occured. 10
Unexpected error occured. 11
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 13
Unexpected error occured. 14
Unexpected error occured. 15
Unexpected error occured. 16
Unexpected error occured. 17
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 19
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 21
Unexpected error occured. 22
Unexpected error occured. 23
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 25
Unexpected error occured. 26
Unexpected error occured. 27
Unexpected error occured. 28
Unexpected error occured. 29
Unexpected error occured. 30
Unexpected error occured. 31
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 33
Unexpected error occured. 34
Unexpected error occured. 35
Unexpected error occured. 36
Unexpected error occured. 37
Unexpected error occured. 38
Unexpected error occured. 39
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 41
Unexpected error occured. 42
Unexpected error occured. 43
Unexpected error occured. 44
Unexpected error occured. 45
Unexpected error occured. 46
Unexpected error occured. 47
Unexpected error occured. 48
Unexpected error occured. 49
Unexpected error occured. 50
Unexpected error occured. 51
Unexpected error occured. 52
Unexpected error occured. 54
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 56
Unexpected error occured. 57
Unexpected error occured. 58
Unexpected error occured. 59
Unexpected error occured. 61
Unexpected error occured. 62
Unexpected error occured. 63
Unexpected error occured. 64
Unexpected error occured. 65
Unexpected error occured. 66
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 68
Unexpected error occured. 69
Unexpected error occured. 70
Unexpected error occured. 71
Unexpected error occured. 72
Unexpected error occured. 73
Unexpected error occured. 74
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 76
Unexpected error occured. 77
Unexpected error occured. 78
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 81
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 84
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 86
Unexpected error occured. 87
Unexpected error occured. 88
Unexpected error occured. 89
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 92
Unexpected error occured. 93
Unexpected error occured. 94
Unexpected error occured. 95
Unexpected error occured. 96
Unexpected error occured. 97
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 99
Unexpected error occured. 100
Unexpected error occured. 101
Unexpected error occured. 102
Unexpected error occured. 104
Unexpected error occured. 105
Unexpected error occured. 106
Unexpected error occured. 107
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 109
Unexpected error occured. 110
Unexpected error occured. 111
Unexpected error occured. 112
Unexpected error occured. 113
Unexpected error occured. 114
Unexpected error occured. 115
Unexpected error occured. 116
Unexpected error occured. 117
Unexpected error occured. 118
Unexpected error occured. 119
Unexpected error occured. 120
Unexpected error occured. 121
Unexpected error occured. 123
Unexpected error occured. 124
Unexpected error occured. 125
Unexpected error occured. 126
Unexpected error occured. 127
Unexpected error occured. 128
Unexpected error occured. 129
Unexpected error occured. 130
Unexpected error occured. 131
Unexpected error occured. 132
Unexpected error occured. 133
Unexpected error occured. 134
Unexpected error occured. 135
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 137
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 139
Unexpected error occured. 140
Unexpected error occured. 141
Unexpected error occured. 142
Unexpected error occured. 143
Unexpected error occured. 144
Unexpected error occured. 145
Unexpected error occured. 148
Unexpected error occured. 149
Unexpected error occured. 150
Unexpected error occured. 152
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 154
Unexpected error occured. 155
Unexpected error occured. 156
Unexpected error occured. 157
Unexpected error occured. 158
Unexpected error occured. 159
Unexpected error occured. 160
Unexpected error occured. 161
Unexpected error occured. 162
Unexpected error occured. 163
Unexpected error occured. 164
Unexpected error occured. 165
Unexpected error occured. 166
Unexpected error occured. 167
Unexpected error occured. 168
Unexpected error occured. 169
Unexpected error occured. 170
Unexpected error occured. 171
Unexpected error occured. 172
Unexpected error occured. 173
Unexpected error occured. 175
Unexpected error occured. 176
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 178
Unexpected error occured. 179
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 181
Unexpected error occured. 182
Unexpected error occured. 183
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 185
Unexpected error occured. 186
Unexpected error occured. 187
Unexpected error occured. 188
Unexpected error occured. 189
Unexpected error occured. 190
Unexpected error occured. 191
Unexpected error occured. 192
Unexpected error occured. 193
Unexpected error occured. 194
Unexpected error occured. 195
Unexpected error occured. 196
Unexpected error occured. 198
Unexpected error occured. 199
Unexpected error occured. 201
Unexpected error occured. 202
Unexpected error occured. 203
Unexpected error occured. 204
Unexpected error occured. 205
Unexpected error occured. 206
Unexpected error occured. 207
Unexpected error occured. 208
Unexpected error occured. 209
Unexpected error occured. 210
Unexpected error occured. 211
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 213
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 216
Unexpected error occured. 217
Unexpected error occured. 218
Unexpected error occured. 219
Unexpected error occured. 220
Unexpected error occured. 221
Unexpected error occured. 222
Unexpected error occured. 223
Unexpected error occured. 224
Unexpected error occured. 225
Unexpected error occured. 226
Unexpected error occured. 227
Unexpected error occured. 228
Unexpected error occured. 230
Unexpected error occured. 232
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 236
Unexpected error occured. 237
Unexpected error occured. 238
Unexpected error occured. 239
Unexpected error occured. 240
Unexpected error occured. 241
Unexpected error occured. 243
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 245
Unexpected error occured. 246
Unexpected error occured. 247
Unexpected error occured. 248
Unexpected error occured. 249
Unexpected error occured. 250
Unexpected error occured. 252
Unexpected error occured. 253
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 255
Unexpected error occured. 256
Unexpected error occured. 257
Unexpected error occured. 258
Unexpected error occured. 259
Unexpected error occured. 260

Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 262
Unexpected error occured. 263
Unexpected error occured. 264
Unexpected error occured. 265
Unexpected error occured. 266
Unexpected error occured. 267
Unexpected error occured. 268
Unexpected error occured. 269
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 271
Unexpected error occured. 272
Unexpected error occured. 273
Unexpected error occured. 274
Unexpected error occured. 275
Unexpected error occured. 276
Unexpected error occured. 277
Unexpected error occured. 278
Unexpected error occured. 279
Unexpected error occured. 280
Unexpected error occured. 281
Unexpected error occured. 282
Unexpected error occured. 283
Unexpected error occured. 284
Unexpected error occured. 285
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 287
Unexpected error occured. 288
Unexpected error occured. 289
Unexpected error occured. 290
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 292
Unexpected error occured. 293
Unexpected error occured. 294
Unexpected error occured. 296
Unexpected error occured. 297
Unexpected error occured. 298
Unexpected error occured. 299
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 301
Unexpected error occured. 302
Unexpected error occured. 303
Unexpected error occured. 304
Unexpected error occured. 305
Unexpected error occured. 306
Unexpected error occured. 307
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 309
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 311
Unexpected error occured. 312
Unexpected error occured. 313
Unexpected error occured. 314
Unexpected error occured. 315
Unexpected error occured. 316
Unexpected error occured. 317
Unexpected error occured. 318
Unexpected error occured. 319
Unexpected error occured. 320
Unexpected error occured. 321
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 325
Unexpected error occured. 326
Unexpected error occured. 327
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 329
Unexpected error occured. 330
Unexpected error occured. 331
Unexpected error occured. 332
Unexpected error occured. 334
Unexpected error occured. 335
Unexpected error occured. 336
Unexpected error occured. 337
Unexpected error occured. 338
Unexpected error occured. 340
Unexpected error occured. 341
Unexpected error occured. 342
Unexpected error occured. 343
Unexpected error occured. 344
Unexpected error occured. 345
Unexpected error occured. 346
Unexpected error occured. 347
Unexpected error occured. 348
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 350
Unexpected error occured. 351
Unexpected error occured. 352
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 354
Unexpected error occured. 355
Unexpected error occured. 356
Unexpected error occured. 357
Unexpected error occured. 359
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 361
Unexpected error occured. 362
Unexpected error occured. 363
Unexpected error occured. 364
Unexpected error occured. 365
Unexpected error occured. 366
Unexpected error occured. 367
Unexpected error occured. 368
Unexpected error occured. 369
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 371
Unexpected error occured. 372
Unexpected error occured. 373
Unexpected error occured. 374
Unexpected error occured. 375
Unexpected error occured. 376
Unexpected error occured. 377
Unexpected error occured. 379
Unexpected error occured. 380
Unexpected error occured. 381
Unexpected error occured. 382
Unexpected error occured. 383
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 385
Unexpected error occured. 386
Unexpected error occured. 387
Unexpected error occured. 388
Unexpected error occured. 389
Unexpected error occured. 390
Unexpected error occured. 391
Unexpected error occured. 392
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 394
Unexpected error occured. 395
Unexpected error occured. 396
Unexpected error occured. 397
Unexpected error occured. 398
Unexpected error occured. 400
Unexpected error occured. 401
Unexpected error occured. 402
Unexpected error occured. 403
Unexpected error occured. 404
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 407
Unexpected error occured. 408
Unexpected error occured. 409
Unexpected error occured. 410
Unexpected error occured. 411
Unexpected error occured. 412
Unexpected error occured. 413
Unexpected error occured. 415
Unexpected error occured. 416
Unexpected error occured. 'NoneType' object has no attribute 'latitude'
Unexpected error occured. 418

                        Winery State     long      lat
0                     14 Hands    WA -75.1141 -14.6945
1   Abacela Vineyards & Winery    OR
4                        Abeja    WA  32.8167  1.76667
8                Academy Wines    OR -74.2499   40.745
12              Acme Wineworks    OR

Lets remove the rows which had an error and look at our fake client list.

In [12]:
df.head()

                        Winery State     long      lat
0                     14 Hands    WA -75.1141 -14.6945
1   Abacela Vineyards & Winery    OR
4                        Abeja    WA  32.8167  1.76667
8                Academy Wines    OR -74.2499   40.745
12              Acme Wineworks    OR

In [6]:
# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

address = 'Portland OR, USA'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

C:\Users\ddycus\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

45.5202471 -122.6741949

In [7]:
# Create a map using folium
map_PNW = folium.Map(
    location=[location.latitude, location.longitude],
    zoom_start=6)
map_PNW

Let's see if we can get geopy to integrate with the four-square data.

### Methodology     

   * The main component of the report where I discuss and describe any exploratory data analysis, any inferential statistical testing, and what machine learning was used and why.

### Results

   * This is where I discuss the results.

### Discussion

   * This is where I discuss any observations I noted and any recommendations I can make based on the results.

### Conclusion 

   * This is where I conclude the report.